<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>name: <%= @message.email %></p>
    <p>mail: <%= @message.email %></p>
    <p>tel : <%= @message.tel %></p>
    <p><%= simple_format @message.text %></p>
  </body>
</html>
